@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 10px rgb(100% 100% 100% / 0.5);
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;

  font-family: "Roboto", sans-serif;

  background-color: #ff99da;
  background-image: radial-gradient(
      at 40% 98%,
      hsla(336, 92%, 65%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 88% 22%, hsla(330, 95%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 76% 62%, hsla(222, 86%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 85%, hsla(336, 82%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 67%, hsla(175, 77%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 59%, hsla(70, 80%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 76%, hsla(350, 79%, 60%, 1) 0px, transparent 50%);
}

.container-game {
  width: 500px;
  height: 600px;

  border: 1px solid rgb(100% 100% 100% / 1);
  box-shadow: 0 0 10px rgb(100% 100% 100% / 0.5);
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgb(100% 100% 100% / 0.2) 20%,
    rgb(100% 100% 100% / 0.1)
  );
  filter: blur(20%);
}

.container-game * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-up {
  width: 100%;
  height: 56.66%;
  font-size: 64px;
}

.contanier-middle {
  width: 100%;
  height: 10%;
  flex-direction: column;
}

.container-down {
  width: 100%;
  height: 33.33%;
}

button {
  position: relative;
  border: none;
  background-color: rgb(100% 100% 100% / 0);
  font-size: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

button:hover {
  scale: 1.1;
  transition: 0.1s;
}
