* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container-game {
  width: 500px;
  height: 600px;
}

.container-game * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-up {
  width: 100%;
  height: 56.66%;
  background-color: blue;
}

.contanier-middle {
  width: 100%;
  height: 10%;
  background-color: white;
  flex-direction: column;
}

.container-down {
  width: 100%;
  height: 33.33%;
  background-color: green;
}
